<nav class="c-nav">
    <ul class="c-nav--list">
        @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("ADMINISTRADOR") ))
        {
            <li class="c-nav--list__item" id="empreendimentoMenu">
                <a href="@Url.Action("Index","Empreendimentos")" class="c-nav--list__item-link c-form__info_menu">
                    <i class="icon-dashboard"></i>
                    <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Empreendimentos</span>
                </a>
            </li>
        }

        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","Cobranca")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-account-balance"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Cobrança</span>
            </a>
        </li>
        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","Relatorios")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-leaderboard"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Relatórios</span>
            </a>
        </li>
        @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("ADMINISTRADOR") || User.HasClaim(c => c.Type == "Administracao") ))
        {
            <li class="c-nav--list__item" id="admMenu">
                <a href="@Url.Action("Index","Administracao")" class="c-nav--list__item-link c-form__info_menu">
                    <i class="icon-settings"></i>
                    <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Administração</span>
                </a>
            </li>
        }
        <li class="c-nav--list__item">
            <a href="@Url.Action("Index","Usuarios")" class="c-nav--list__item-link c-form__info_menu">
                <i class="icon-person"></i>
                <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Usuários</span>
            </a>
        </li>
        @if (User.Identity != null && User.Identity.IsAuthenticated && (User.IsInRole("ADMINISTRADOR") || User.HasClaim(c => c.Type == "Perfis")))
        {
            <li class="c-nav--list__item" id="perfilMenu">
                <a href="@Url.Action("Index","Perfis")" class="c-nav--list__item-link c-form__info_menu">
                    <i class="icon-group"></i>
                    <span class="c-nav--list__item-link_label c-form__info--tooltip_menu">Perfis</span>
                </a>
            </li>
        }
    </ul>
</nav>