@using Modelo.Web.ViewModels.Usuarios;
@model CadastrarEditarUsuarioViewModel
@{
    TempData["Title"] = "Editar Usuário";
}

<h1 class="o-title"> EDITAR USUÁRIO </h1>
<partial name="~/Views/Shared/_Avisos.cshtml" />
<form asp-action="Editar" method="post" class="c-form">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="c-form__section">
        <span class="c-form__section--label">Dados gerais</span>
        <div class="row">
            <div class="c-form__group col-8">
                <label asp-for="Nome" class="c-form__label form-label control-label"></label>
                <input asp-for="Nome" class="c-form__input form-control" required placeholder="Nome Completo" value="@Model.Nome">
                <span asp-validation-for="Nome" class="form-text text-danger"></span>
            </div>
            <div class="c-form__group col-4">
                <label asp-for="CPF" class="c-form__label form-label control-label"></label>
                <input asp-for="CPF" data-mask="000.000.000-00" data-mask-reverse="true" required data-rule-cpf="true" class="c-form__input form-control maskCPF" value="@Model.CPF">
                <span asp-validation-for="CPF" class="form-text text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="c-form__group col-8 ">
                <div class="row m-0 w-100" style="gap:4rem">
                    <label asp-for="Emails[0]" class="c-form__label form-label control-label">E-mail principal</label>
                    <input asp-for="Emails[0]" posicao="0" type="email" data-msg-email="E-mail Inválido !" class="c-form__input form-control" required data-msg-required="E-mail principal é obrigatório !">
                    <span asp-validation-for="Emails[0]" class="form-text text-danger"></span>
                    <a href="#" id="addPrimeiroEmailSecundario" class="c-form__action repeater @(Model != null && Model.Emails != null && Model.Emails.Count > 1 ? "d-none": "")" onclick="adicionarEmail(this)">
                        <i class="icon-add"></i> Adicionar outro E-mail
                    </a>
                </div>
                @if (Model != null && Model.Emails != null && Model.Emails.Count > 0)
                {
                    for (int i = 1; i < Model.Emails.Count; i++)
                    {
                        <div class="row m-0 linhaEmail" style="gap:4rem; margin-top:24rem!important">
                            <div class="d-flex justify-content-between">
                                <label asp-for="Emails[i]" class="c-form__label form-label control-label">Email @(i + 1)</label>
                                <a href="#" class="c-form__action repeater justify-content-end" onclick="removerEmail(this)" style="color:red!important">
                                    <i class="icon-delete"></i> Remover
                                </a>
                            </div>

                            <input asp-for="Emails[i]" posicao="@i" type="email" data-msg-email="E-mail Inválido !" class="c-form__input form-control">
                            <span asp-validation-for="Emails[i]" class="form-text text-danger"></span>
                            @if (i == Model.Telefone.Count - 1)
                            {
                                <a href="#" class="c-form__action repeater" onclick="adicionarEmail(this)">
                                    <i class="icon-add"></i> Adicionar outro E-mail
                                </a>
                            }
                        </div>
                    }

                }
            </div>
            <div class="c-form__group col-4">
                <div class="row m-0" style="gap:4rem;">
                    <label asp-for="Telefone[0]" class="c-form__label form-label control-label">Telefone Principal</label>
                    <input asp-for="Telefone[0]" data-mask="(00)00009-0000" posicao="0" class="c-form__input form-control maskTelefone" data-msg-required="Telefone principal obrigatório !" required data-rule-telefone="true">
                    <span asp-validation-for="Telefone[0]" class="form-text text-danger"></span>
                    <a href="#" id="addPrimeiroTelefoneSecundario" class="c-form__action repeater @(Model != null && Model.Telefone != null && Model.Telefone.Count > 1 ? "d-none": "")" onclick="adicionarTelefone(this)">
                        <i class="icon-add"></i> Adicionar outro telefone
                    </a>
                </div>
                @if (Model != null && Model.Telefone != null && Model.Telefone.Count > 0)
                {
                    for (int i = 1; i < Model.Telefone.Count; i++)
                    {
                        <div class="row m-0 linhaTelefones" style="gap:4rem; margin-top:24rem!important">
                            <div class="d-flex justify-content-between">
                                <label asp-for="Telefone[i]" class="c-form__label form-label control-label">Telefone @(i + 1)</label>
                                <a href="#" class="c-form__action repeater justify-content-end" onclick="removerTelefone(this)" style="color:red!important">
                                    <i class="icon-delete"></i> Remover
                                </a>
                            </div>

                            <input asp-for="Telefone[i]" data-mask="(00)00009-0000" posicao="@i" class="c-form__input form-control" data-msg-required="Telefone obrigatório !">
                            <span asp-validation-for="Telefone[i]" class="form-text text-danger"></span>
                            @if (i == Model.Telefone.Count - 1)
                            {
                                <a href="#" class="c-form__action repeater" onclick="adicionarTelefone(this)">
                                    <i class="icon-add"></i> Adicionar outro telefone
                                </a>
                            }
                        </div>
                    }

                }

            </div>

        </div>



    </div>

    <div class="c-form__btn-group">
        <input type="submit" value="Salvar Alterações" class="o-btn o-btn-default">
        <input type="button" value="Cancelar" class="o-btn o-btn-alt" onclick="paginaInicial()">
        <div class="c-form__group col-auto">
            <label class="c-form__label c-form__switch justify-content-end">
                @if (Model.UsuarioAtivo == null)
                {
                    <input asp-for="UsuarioAtivo" value="false" type="checkbox" class="form-control" />
                    <span class="c-form__switch-slider"></span>
                    @Html.Raw("Usuário Ativo ?")

                }
                else
                {
                    <input asp-for="UsuarioAtivo" type="checkbox" class="form-control" />
                    <span class="c-form__switch-slider"></span>
                    @Html.Raw("Usuário Ativo ?")
                }
            </label>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/ValidacaoCPF.js"></script>
    <script src="~/js/usuario.js"></script>
   
    <script>

        function paginaInicial() {
            window.location.href = "@Url.Action("Index","Usuarios")";
        }

        const modal = new bootstrap.Modal('#modalConfirmacao');
        $("form").submit((e) => {
            e.preventDefault();
            $(".checkboxCBH").each((i, element) => {

                $(element).remove();

            })
            if ($("form").valid()) {
                let indexInicio = 0;
                $("input[name=CBHs][type=checkbox]").each((i, element) => {
                    if ($(element).is(":checked")) {
                        let valor = $(element).val();
                        $("<input>").attr("type", "hidden").attr("name", `CBHs[${indexInicio}]`).addClass("checkboxCBH").val(valor).appendTo($("form"));
                        indexInicio++;
                    }
                });

                $(".modal-body").html("<p class='lh-base'>Deseja confirmar as alterações do cadastro do usuário?</p>")

                modal.show();

                $("#btnConfirmarModal").on("click", (element) => {
                    modal.hide();
                    e.currentTarget.submit();
                })

            }
        });

        $(document).ready(() => {
            $("input[name=CBHs][type=checkbox]:checked").each((i, e) => {
                let valor = $(e).val();
                $("<input>").attr("type", "hidden").attr("name", `CBHs[${i}]`).addClass("checkboxCBH").val(valor).appendTo($("form"));
            })
        })
    </script>
    }